<div *ngIf="team" class="team">
  <img
    [src]="teamPicture"
    (error)="this.teamPicture = '././assets/images/teamwar.png'"
  />
  <h1>{{ team.team_name }}</h1>
</div>
<div *ngIf="players" class="players">
  <app-players-scores *ngIf="war" [players]="players" [war]="war" />
  <app-players-scores *ngIf="currentWar" [players]="players" [war]="currentWar" />

</div>

<div *ngIf="war || currentWar || player" class="war">
  <h1 *ngIf="currentWar">War en cours</h1>
  <h1 *ngIf="war">Détails war</h1>
  <h1 *ngIf="player">{{player.display_name}}</h1>


  <app-war-item *ngIf="war" [war]="war"  />
  <app-war-item *ngIf="currentWar" [war]="currentWar"  />
  <app-player-infos *ngIf="player" [player]="player"/>

</div>

<div class="logout">
  <div class="profile">
    <img
      class="profilePicture"
      [src]="profilePicture"
      (error)="this.profilePicture = '././assets/images/teamwar.png'"
    />
    <span>{{ profileName }}</span>
    <img
      class="logoutPicture"
      src="././assets/images/logout.png"
      (click)="logout()"
    />
  </div>
</div>

<div *ngIf="war || currentWar" class="warOptions">
  <button mat-button class="warButtons"  *ngIf="currentWar" (click)="openPenaDialog()" [disabled]="!canEdit">
    Pénalité
  </button>
  <button
  [disabled]="!canEdit"
    *ngIf="currentWar && currentWar.warTracks.length < 12"
    mat-button
    class="warButtons"
    (click)="openSubDialog()"
  >
    Remplacement
  </button>
  <button [disabled]="!canEdit" *ngIf="currentWar && currentWar.warTracks.length == 12" mat-button class="warButtons" (click)="openTabDialog()">
    Editer le tab
  </button>
  <button [disabled]="!canEdit"  *ngIf="currentWar" mat-button class="warButtons" (click)="cancelWar()">
    Annuler la war
  </button>
  <button
  [disabled]="!canEdit"
    *ngIf="currentWar && currentWar.warTracks.length == 12"
    mat-button
    class="warButtons"
    (click)="validateWar()"
  >
    Valider la war
  </button>
 <div class="penasShocks">
  <div *ngIf="penalties && penalties.size > 0" class="penalties">
    <span class="penaTitle">Pénalités</span>
    <div class="penaContent">
      <div class="penaTeamColumn">
        <span *ngFor="let pena of penalties.entries()">
          {{ pena[0] }}
        </span>
      </div>
      <div class="penaAmountColumn">
        <span *ngFor="let pena of penalties.entries()">
          {{ pena[1] }}
        </span>
      </div>
    </div>
  </div>

  <div *ngIf="shockCount && shockCount > 0" class="shocks">
    <span class="penaTitle">Shocks</span>
    <div class="shockContent">
       <img src="../../assets/images/shock.png">
      <span>x{{ shockCount }}</span>
    </div>
  </div>

 </div>

</div>
