.team {
    width: 100%;
    background-color: hsl(216, 85%, 13%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
h1 {
    color: white;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: end;
}
.players {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logout {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profilePicture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.logoutPicture {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    padding: 10px;
}
.logoutPicture:hover {
    cursor: pointer;
}
span {
    color: white;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    
}
.war {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
app-war-item {
    width: 40%;
}

.warOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}
.warButtons {
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}
.penaTitle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.penaTeamColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.penaAmountcolumn {
    display: flex;
    min-width: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.penaTeamColumn span, .penaAmountColumn span {
    font-weight: normal;
}
span {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
.penaContent, .shockContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.penasShocks {   
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.penalties, .shocks {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.shocks img {
    width: 30px;
    height: 30px;
}
