.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5f9ea0AA;
  border: 3px solid black;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 20px;
}
.title {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  font-size: x-large;
}
app-player-item {
  width: 80%;
  background-color: #ffffffaa;
  margin: 5px;
  border-radius: 10px;
}

.rosterContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

app-roster-list {
  width: 100%;
}