.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #5f9ea0AA;
    border: 3px solid black;
    align-items: center;
    margin: 10px;
    padding-bottom: 20px;
}
app-war-item {
    width: 80%;
}
.title {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: x-large;
  }