<h2 mat-dialog-title>Edition du tab</h2>
<mat-dialog-content>
  <span class="tip">Si des adversaires n'ont pas joué toutes les courses, ne pas oublier d'indiquer le nombre de courses jouées entre parenthèses (à côté du nom).</span>
  <span class="tip"> Copiez le code généré et collez-le directement <a href="https://gb.hlorenzi.com/table?referrer=https%3A%2F%2Fwww.mk8dx-lounge.com" target="_blank"> ici </a> pour générer le tableau.</span>
  <div class="main">
    <div class="inputContent">
      <div class="inputRow">
        <input
          class="inputText"
          type="text"
          id="opponent1Name"
          placeholder="Adversaire 1"
        />
        <input
        class="inputFlag"
        type="text"
        id="opponent1Flag"
        placeholder="Flag"
      />
        <input
          class="inputNumber"
          type="number"
          id="opponent1Score"
          placeholder="Score"
        />
      </div>

      <div class="inputRow">
        <input
          class="inputText"
          type="text"
          id="opponent2Name"
          placeholder="Adversaire 2"
        />
        <input
        class="inputFlag"
        type="text"
        id="opponent2Flag"
        placeholder="Flag"
      />
        <input
          class="inputNumber"
          type="number"
          id="opponent2Score"
          placeholder="Score"
        />
      </div>

      <div class="inputRow">
        <input
          class="inputText"
          type="text"
          id="opponent3Name"
          placeholder="Adversaire 3"
        />
        <input
        class="inputFlag"
        type="text"
        id="opponent3Flag"
        placeholder="Flag"
      />
        <input
          class="inputNumber"
          type="number"
          id="opponent3Score"
          placeholder="Score"
        />
      </div>

      <div class="inputRow">
        <input
          class="inputText"
          type="text"
          id="opponent4Name"
          placeholder="Adversaire 4"
        />
        <input
        class="inputFlag"
        type="text"
        id="opponent4Flag"
        placeholder="Flag"
      />
        <input
          class="inputNumber"
          type="number"
          id="opponent4Score"
          placeholder="Score"
        />
      </div>

      <div class="inputRow">
        <input
          class="inputText"
          type="text"
          id="opponent5Name"
          placeholder="Adversaire 5"
        />
        <input
        class="inputFlag"
        type="text"
        id="opponent5Flag"
        placeholder="Flag"
      />
        <input
          class="inputNumber"
          type="number"
          id="opponent5Score"
          placeholder="Score"
        />
      </div>

      <div class="inputRow">
        <input
          class="inputText"
          type="text"
          id="opponent6Name"
          placeholder="Adversaire 6"
        />
        <input
        class="inputFlag"
        type="text"
        id="opponent6Flag"
        placeholder="Flag"
      />
        <input
          class="inputNumber"
          type="number"
          id="opponent6Score"
          placeholder="Score"
        />
      </div>
      <div class="inputRow">
        <input
          class="inputText"
          type="text"
          id="opponent7Name"
          placeholder="Adversaire 7 (facultatif)"
        />
        <input
        class="inputFlag"
        type="text"
        id="opponent7Flag"
        placeholder="Flag"
      />
        <input
          class="inputNumber"
          type="number"
          id="opponent7Score"
          placeholder="Score"
        />
      </div>
      <div class="inputRow">
        <input
          class="inputText"
          type="text"
          id="opponent8Name"
          placeholder="Adversaire 8 (facultatif)"
        />
        <input
        class="inputFlag"
        type="text"
        id="opponent8Flag"
        placeholder="Flag"
      />
        <input
          class="inputNumber"
          type="number"
          id="opponent8Score"
          placeholder="Score"
        />
      </div>
    </div>
    <div class="generated" 
    [innerHTML]="output">{{output}}</div>
  </div>

  <button mat-button (click)="generateTab()">Générer</button>
</mat-dialog-content>
