mat-dialog-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #B0E0E6 ;
} 
input {
    margin: 5px;
    height: 40px;
    width: 80px;
    align-self: center;
}
h2 {
    background-color: #051c3d;
    text-align: center;
}
button {
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}
p, ul, li {
    color: black;
    text-align: center;
}
.example {
    font-size: smaller;
}
.error {
    color: #a82c23;
    font-size: small;
  }