<h2 mat-dialog-title>Liaison compte MKC</h2>
<mat-dialog-content>
    <p>Ton inscription a bien été pris en compte ! Néanmoins, tu as une dernière étape à faire: L'application utilise tes données MKCentral pour pouvoir centraliser les résultats avec ceux des autres équipes. <br> <br> Elle nécessite donc un accès à ton profil.</p>
    <p>Rends-toi sur ton profil MKCentral et copies le numéro situé à la fin de la barre d'adresse dans le champ ci-dessous</p>
    <p class="example">Exemple de lien d'un profil MKC : https://www.mariokartcentral.com/mkc/registry/players/25671</p>
    <p>Cette étape est essentielle, fais bien attention pour ne pas te retrouver avec un compte qui n'est pas le tien. Les ajouts de compte MKC sont vérifiés régulièrement en cas d'erreur.</p>
  <input type="number" id="mkcId" placeholder="ID MKC"/>
  <p *ngIf="error" class="error">{{error}}</p>
  <button
    mat-button
    (click)="linkMKC()">
    Lier le compte MKC
  </button>
</mat-dialog-content>
