<div class="main">
    <span class="title">Adversaires</span>
    <div class="mainStats">
     
      <div class="vnd">
        <div class="vndView">
          <span>Le plus joué</span>
          <span class="vndValue">{{ stats.mostPlayedTeam?.team.team_name }}</span>
        </div>
        <div class="vndView">
          <span>Le plus gagné</span>
          <span class="vndValue">{{ stats.mostDefeatedTeam?.team.team_name }}</span>
        </div>
        <div class="vndView">
            <span>Le plus perdu</span>
            <span class="vndValue">{{ stats.lessDefeatedTeam?.team.team_name}}</span>
          </div>
      </div>
    
    
     
    </div>
  </div>