.main {
  display: flex;
  justify-content: start;
  align-items: center;
}
span {
  width: 100%;
  text-align: center;
}
.teamTag {
  width: 20%;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
