<div class="main">
  <div class="login">
    <h2 *ngIf="!signup">Connexion</h2>
    <h2 *ngIf="signup">Inscription</h2>
    <mat-card>
      <mat-card-content>
        <form (ngSubmit)="submit()">
          <input type="text" matInput placeholder="Adresse email" id="email" />

          <input
            type="password"
            matInput
            placeholder="Mot de passe"
            id="password"
          />
          <input *ngIf="signup"
            type="password"
            matInput
            placeholder="Confirmer le mot de passe"
            id="passwordConfirm"
          />

          <input *ngIf="signup"
            type="number"
            matInput
            placeholder="Identifiant MKC"
            id="mkcId"
          />
          <p *ngIf="signup" class="complement">L'identifiant MKC correspond au numéro à la fin de la barre d'adresse, lorsque tu es sur ton profil MKCentral.</p>
          <p *ngIf="signup" class="complementExample">(Ex: https://www.mariokartcentral.com/mkc/registry/players/18595)</p>
          <p *ngIf="error" class="error">{{error}}</p>
          <div class="btnContent">
            <button *ngIf="!signup" type="button" mat-button (click)="submit()">
              Se connecter
            </button>

            <button *ngIf="signup" type="button" mat-button (click)="submit()">
              S'inscrire
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    
    <p *ngIf="!signup" class="link" (click)="onSignupEnabled(true)">Nouveau sur l'appli ? Inscrivez-vous !</p>
    <p *ngIf="signup" class="link" (click)="onSignupEnabled(false)">Déjà sur l'appli ? Connectez-vous !</p>

  
  </div>
</div>
