<div class="main">
  <span class="title">Statistiques</span>
  <div class="mainStats">
    <div class="stats">
     <div class="warsPlayed">
      <span class="warsPlayedValue">{{ warsPlayed }}</span>
      <span>wars jouées</span>
    </div>
    <div class="winrate">
      <span>Winrate</span>
      <span class="winrateValue">{{winrate}}%</span>
    </div>
   </div>
    <div class="vnd">
      <div class="vndView">
        <span>Victoires</span>
        <span class="vndValue">{{ warsWon }}</span>
      </div>
      <div class="vndView">
        <span>Nuls</span>
        <span class="vndValue">{{ warsTied }}</span>
      </div>
      <div class="vndView">
        <span>Défaites</span>
        <span class="vndValue">{{ warsLoss }}</span>
      </div>
    </div>
  
   
  </div>
</div>
