<div class="main">
  <span class="title">Circuits</span>
  <div class="mainStats">
    <div class="vnd">
      <div class="vndView">
        <span class="subtitle">Les plus joués</span>
        <div class="row">
          <app-track-item
            *ngFor="let stat of stats.mostPlayedMap"
            [map]="stat.map"
            [trackStats]="stat"
            [disabled]="true"
          />
        </div>
        <div class="vndView">
          <span class="subtitle">Les plus gagnés</span>
          <div class="row">
            <app-track-item
              *ngFor="let stat of stats.bestPlayerMap"
              [map]="stat.map"
              [trackStats]="stat"
              [disabled]="true"
            />
          </div>
        </div>
        <div class="vndView">
          <span class="subtitle">Les plus perdus</span>
          <div class="row">
            <app-track-item
              *ngFor="let stat of stats.worstPlayerMap"
              [map]="stat.map"
              [trackStats]="stat"
              [disabled]="true"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
