<div class="main">
    <span class="title">Moyennes</span>
    <div *ngIf="stats" class="mainStats">
      <div class="vnd">
        <div class="vndView">
          <span>Score moyen</span>
          <span class="vndValue">{{ stats.averagePointsLabel }}</span>
        </div>
        <div class="vndView">
          <span>Position moyenne</span>
          <span class="vndValue">{{ stats.averagePlayerPosition }}</span>
        </div>
        <div class="vndView">
          <span>Shocks/War</span>
          <span class="vndValue">{{ stats.shockCount }}</span>
        </div>
      </div>
    </div>
  </div>