h1 {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #051c3f;
  text-align: center;
  color: white;
  margin: auto;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
}
a {
  display: block;
  position: relative;
  top: 70px;
  margin: auto;
}
.main {
  background-color: #b0e0e6;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  height: 800px;
}
.signup {
  width: 30%;
  display: flex;
  flex-direction: column;
}
