mat-dialog-content {
  width: 100%;
  display: flex;
  background-color: #b0e0e6;
}
.list {
  display: flex;
  flex-wrap: wrap;
  background-color: cadetblue;
  border-radius: 10px;
  margin: 20px;
  height: 100%;
}
app-track-item {
  width: 15%;
}
h2 {
  background-color: hsl(216, 85%, 13%);
  text-align: center;
}
